@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
:root
{
    font-size: 62.5%; /* Sets Font to base ten */

    /* Variables */
    /*Tdark means ThemeDark*/
    --background-color-Tdark_page: #070707;
    --background-color-Tdark-nav: #a0ff88a8;
    --background-color_Tdark_left-form: #092203;
    --background-color-Tdark-footer: #0e3f10a8;
    --color-white_text: #eeeeee;
}

*
{
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;

    color: var(--color-white_text);

    font-family: 'Rubik', sans-serif;
    font-weight: 400;

    list-style: none;
    text-decoration: none;
}

body
{
    background-color: var(--background-color-Tdark_page);
    width: 100vw;
}

/* Nav Bar */
#header
{
    width: 100vw;
    height: 10vh;

    background-color: var(--background-color-Tdark-nav);
}

#header > .nav_bar
{
    width: 100vw;
    height: 10vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    background-color: var(--background-nav-black);

}

#header > .nav_bar > .nav_links
{
    margin: 0 4rem;
}

.nav_text
{
    background-color: var(--background-nav-black);
    font-size: 3rem;
}

/* Main Show */
#main 
{
    position: relative;
    width: 100vw;
    height: calc(100vh - 10vh - 10vh);
}

#main > #main_bg
{
    position: absolute;
    top: 0;
    left: 0;
    /* display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; */

    width: 100vw;
    height: calc(100vh - 10vh - 10vh);

    background-image: url(../img/contact_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(12px) brightness(40%) saturate(120%);
}

#main > .form_container
{
    width: 60vw;
    height: 70vh;
    
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    opacity: 0.6;
}

#main > .form_container > .left
{
    width: 40%;
    height: 100%;
    
    position: absolute;
    left: 0;

    background-color: var(--background-color_Tdark_left-form);
}

#main > .form_container > .right
{
    width: 60%;
    height: 100%;
    
    position: absolute;
    right: 0;
    
    background-color: white;
}

#main > .form_container > .right > form
{
    width: 100%;
    height: 100%;

    position: relative;
}

#main > .form_container > .right > form > input[type=text]
{
    width: 65%;
    padding: 1rem 3rem;

    border: 0.5rem solid #092203;
    border-bottom: 1rem solid #092203;
    border-radius: 2rem;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#main > .form_container > .right > form > input[type=email]
{
    width: 65%;
    padding: 1rem 3rem;

    border: 0.5rem solid #092203;
    border-bottom: 1rem solid #092203;
    border-radius: 2rem;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#main > .article_container > .article
{
    margin: 2rem 7rem;
}

#main > .article_container > .article > .article_text
{
    font-size: 1.75rem;
    text-indent: 2rem;
    text-align: justify;
}

/* Footer */
#footer
{
    width: 100vw;
    height: 10vh;

    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;

    background-color: var(--background-color-Tdark-footer);
}

#footer > .copyright_container > .copyright
{
    font-size: 2rem;
}

#footer > .copyright_container > .copyright
{
    font-size: 2rem;
}

#footer > .socials_container > .twitter_icon
{
    margin-right: 4rem;
}