@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
:root
{
    /* Notation guide :
        Themes:
        - g = default aka general
        - d = dark mode
        - l = light mode

        Types:
        - c = color
        - bc = background color
        - bo = border color
        
        Type Order:
        - c
        - bc
        - bo

        Variable Order:
        - Type
        - Theme
        - Purpose
        - Kind (Felul)
        - [Optional] - Special, Ex : selected or hover effect
    */

    font-size: 62.5%;
    --c_g__Text: hsl(0, 0%, 98%);
    --c_g__FormText: hsl(0, 0%, 3%);

    --bc_g__NavBar: hsl(108, 30%, 50%);
    --bc_g__S-FormHero: hsla(108, 83%, 7%, .8);
    --bc_g__S-FormField: hsl(0, 0%, 98%, .6);
    --bc_g__S-FormTextField: hsl(0, 0%, 70%);
    --bc_g__S-FormTextField__S-Selection: hsl(111, 40%, 81%);
    --bc_g__FooterBar: hsl(108, 40%, 30%);

    --bo_g__NavBar: hsl(108, 60%, 30%);
    --bo_g__FooterBar: hsl(108, 70%, 10%);



    --background-color-Tdark_page: #070707;
    --background-color-Tdark-nav: #6baa5c;
    --background-color-Tdark-nav_hamburger-bars: #eeeeee;
    --background-color_Tdark_left-form: #092203a2;
    --background-color_Tdark_right-form: rgba(255, 255, 255, 0.603);
    --background-color-Tdark-footer: #0e3f10a8;
    --color-white_Tdark_page_text: #eeeeee;
    --color-white_Tdark_text_form: #070707;
    --color-white_Tdark__selected_text_form: #ACCEF7;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: var(--c_g__Text);
    list-style: none;
    text-decoration: none;
}

#wrapper
{
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-rows: auto auto auto;

    max-width: 100%; /*This saves you a lot!*/
}

#header
{
    width: 100vw;
    height: 12vh;
    grid-row: 1 / 2;

    background-color: var(--bc_g__NavBar);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.nav-bar
{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-items: center;
    align-items: center;
}

.nav-text
{
    font-size: 2rem;
}

.nav-link
{
    border-bottom: .5rem solid var(--bo_g__NavBar);
}

#main
{
    width: 100%;
    height: 100%;
    padding: 50px 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../img/contact_hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    grid-row: 2 / 3;
}

.form-container
{
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.hero
{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    background-color: var(--bc_g__S-FormHero);
}

.hero-text
{
    font-size: 2rem;
    font-weight: 500;
    padding: 4rem 0;
}

.form-field
{
    padding-top: 1rem;
    width: 100%;
    height: auto;
    background-color: var(--bc_g__S-FormField);
}


.name_container, .email_container, .reason_container, .submit_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

label
{
    font-size: 2rem;
    font-weight: 500;
    color: var(--c_g__FormText);
}

input:focus, textarea:focus
{
    outline: none;
}

input::selection, textarea::selection
{
    color: var(--c_g__FormText);
    background-color: var(--bc_g__S-FormTextField__S-Selection);
}

input[type=text], input[type=email], input[type=submit]
{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: var(--c_g__FormText);
    font-weight: 500;

    border: 0.5rem solid #092203;
    border-bottom: 1rem solid #092203;
    border-radius: 2rem;
    background-color: var(--bc_g__S-FormTextField);
}

input[type=text], input[type=email]
{
    margin-top: 1rem;
}

textarea
{
    margin-top: 1rem;
    color: var(--c_g__FormText);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
    border: 0.5rem solid #092203;
    border-bottom: 1rem solid #092203;
    border-radius: 2rem;
    background-color: var(--bc_g__S-FormTextField);
}

#footer
{
    width: 100vw;
    height: auto;

    grid-row: 3 / 4;

    background-color: var(--bc_g__FooterBar);

    display: grid;
    grid-template-rows: 60% 30% 10%;
}

.footer-bar
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    border-top: .5rem solid var(--bo_g__FooterBar);
}

.footer-bar:nth-child(1)
{
    flex-direction: column;
    grid-row: 1 / 2;
}
.footer-bar:nth-child(2)
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2 / 3;

    justify-items: left;
}

.footer-link
{
    padding: 1rem 0;
}

.footer-link:nth-child(1)
{
    border-bottom: .3rem solid var(--bo_g__FooterBar);
}

.footer-social:nth-child(1)
{
    justify-self: right;
    padding-right: 10%;

    border-right: .3rem solid var(--bo_g__FooterBar);
}

.footer-social:nth-child(2)
{
    padding-left: 10%;
}

.footer-text
{
    font-size: 2rem;
}

.footer-copyright
{
    grid-row: 3 / 4;
    width: 100%;
    height: auto;
    min-height: 5ch;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    background-color: var(--bc_g__FooterBar);
    border-top: .5rem solid var(--bo_g__FooterBar);
}

@media screen and (min-width: 1024px)
{
    .nav-bar
    {
        width: 80%;
    }

    .nav-text
    {
        font-size: 3rem;
    }

    .form-container
    {
        flex-flow: row nowrap;
    }

    .hero
    {
        width: 50%;
    }

    .hero-text
    {
        font-size: 4rem;
    }
    
    label
    {
        font-size: 3rem;
    }

    input[type=text], input[type=email], input[type=submit]
    {
        padding: 2rem 10rem;
        font-size: 2rem;
    }

    input[type=submit]
    {
        font-size: 3rem;
    }

    textarea
    {
        padding: 2rem 10rem;
        font-size: 2rem;
    }
}